---
title: Blog
layout: blog
slug: blog
---
<html lang="en">
  {% include head.html %}
  <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item" href="{{site.baseurl}}/">Principal</a>
          <a class="blog-nav-item active" href="#">Início</a>
        </nav>
      </div>
    </div>

    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title">1MNEWS Blog</h1>
        <p class="lead blog-description">Mantenha-se informado das melhores notícias</p>
      </div>

      <div class="row">

  	<i class="fa fa-circle-o-notch fa-5x fa-spin"></i>

      </div><!-- /.row -->

    </div><!-- /.container -->
  </body>
</html>
